<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/register.scss">
    <title>Document</title>
</head>
<body>
  <header>
    <section class="headerTitle-container">
      <h1 class="headerTitle">Riwi Weather</h1>
    </section>
  </header>
    <main class="container container-register">
        <form class="container register-form">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Registrame</button>
            <a href="../../index.html">Login</a>
          </form>
    </main>
   
    <script type="module" src="../controllers/register.ts"></script>
</body>
</html>